/* Coolors Exported Palette - coolors.co/6b6054-929487-a1b0ab-c3dac3-d5ecd4 */

/* HSL */
$color1: hsla(31%, 12%, 37%, 1);
$color2: hsla(69%, 6%, 55%, 1);
$color3: hsla(160%, 9%, 66%, 1);
$color4: hsla(120%, 24%, 81%, 1);
$color5: hsla(118%, 39%, 88%, 1);

/* RGB */
$color1: rgba(107, 96, 84, 1);
$color2: rgba(146, 148, 135, 1);
$color3: rgba(161, 176, 171, 1);
$color4: rgba(195, 218, 195, 1);
$color5: rgba(213, 236, 212, 1);